@font-face {
    font-family: "Default";
    src: url("../fonts/HelveticaNeue.otf");
}

@font-face {
    font-family: "LogoT";
    src: url("../fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "LogoA";
    src: url("../fonts/BrannbollConnect.ttf");
}

@font-face {
    font-family: "LogoQ";
    src: url("../fonts/AlumniSans.ttf");
}

html {
    font-family: "Default", serif;
}

:root {
    --bs-body-color: #072436;
}

body {
    background-color: rgb(248,249,250);
}

.logo {
    font-size: 80px;
}

.logo .nombre-primera_parte {
    font-family: 'LogoQ', serif;
}

.logo .nombre-segunda_parte {
    font-family: "LogoT", serif;
    font-size: 0.7em;
}

.logo .nombre-tercera_parte {
    font-family: "LogoA", serif;
    font-size: 0.6em;
}

.nombre-primera_parte {
    font-family: 'LogoQ', serif;
    font-size: 1.1em;
}

.nombre-segunda_parte {
    font-family: "LogoT", serif;
    font-size: 1.1em;
}

.nombre-tercera_parte {
    font-family: "LogoA", serif;
    font-size: 0.8em;
}

.frasecica {
    font-size: min(10vw, 10vh);
    text-align: center;
    padding: 0 10px 5px 10px;
    width: 100%;
}
