:root {
    --bs-body-color: #072436;
    --bs-body-bg: #F8F9FA;
    --video-w: min(min(100vw, 1.68 * 100vh), 1296px);
}

@font-face {
    font-family: "Default";
    src: url("../fonts/HelveticaNeue.otf");
}

@font-face {
    font-family: "LogoT";
    src: url("../fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "LogoA";
    src: url("../fonts/BrannbollConnect.ttf");
}

@font-face {
    font-family: "LogoQ";
    src: url("../fonts/AlumniSans.ttf");
}

@font-face {
    font-family: "Titulo";
    src: url("../fonts/AlumniSans.ttf");
}

html {
    font-family: "Default", serif;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titulo", serif;
}

h1 {
    font-size: 3em;
    padding: 1em 0 1em 0;
}

h2 {
    font-size: 2em;
    padding: 1em 0 1em 0;
}

.logo {
    font-size: 3em;
}

.qubitalent {
    display: ruby;
    list-style: none;
    padding-block-start: 0;
    padding-inline-start: 0;
}

.qubitalent :first-child {
    font-family: 'LogoQ', serif;
}

.qubitalent :nth-child(2){
    font-family: 'LogoT', serif;
    font-size: 0.8em;
    margin-left: -0.3em;
}

.qubitalent :nth-child(3){
    font-family: 'LogoA', serif;
    font-size: 0.8em;
    margin-left: -0.3em;
}

.qt_logo {
    display: ruby;
    vertical-align: text-bottom;
    list-style: none;
    padding-block-start: 0;
    padding-inline-start: 0;
}

.qt_logo :first-child::before {
    content: "\7C";
}
.qt_logo :first-child {
    font-family: 'LogoQ', serif;
}

.qt_logo :nth-child(2)::after{
    font-size: 1em;
    content: '\27E9';
}
h1 > .qt_logo :nth-child(2),
h2 > .qt_logo :nth-child(2){
    margin-left: 0;
}
.qt_logo :nth-child(2){
    font-family: 'LogoA', serif;
    font-size: 0.7em;
    margin-left: -0.3em;
}

.frasecica {
    font-size: min(10vw, 10vh);
    width: var(--video-w);
    text-align: center;
    color: #f1f1f1;
    position:absolute;
    top:40px;
    z-index:1;
}

#home-video {
    width: var(--video-w);
}

.video-container {
    text-align: center;
    width: var(--video-w);
    z-index: -1;
}

.justify {
    text-align: justify;
}

.mathjax {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-bottom: 10px;
    margin-top: 10px;
}